body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
}
.navbar{
    background-color:rgb(244, 183, 70);
    font-size: 20px;

}
footer{
    background-color:rgb(244, 183, 70);
    font-size: 20px;
}
#btnGuardar{
    background-color:rgb(244, 183, 70);
    color: black;
}
label{
    font-size: 20px;
}
th {
    padding: 10px; 
  }
  
  table {
    border-collapse: collapse;
    width: 100%; 
  }
  
  th {
    background-color: #f0f0f0;
    text-align: left;
    border: 1px solid #ccc;
  }
.btn-editar{
    background-color:rgb(244, 183, 70);
}
.btn-eliminar{
    background-color:rgb(244, 183, 70);
}